@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    /* header starts */

    .header_menu,
    .header_contact {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .header_main {
        height: auto;
    }

    /* header ends */

    /* hero section starts */

    .hero_sec {
        padding: 50px 15px;
        margin-top: 0;
    }

    .hero_sec h1 {
        font-size: 43px;
    }

    /* hero section ends */

    /* city card section starts */
    .main_city_card_sec {
        padding: 90px 0;
    }

    /* city card section ends */

    /* signin section start */

    .mainsignin_sec {
        padding: 25px 15px;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        height: auto;
    }

    .mainsignin_content p {
        margin-top: 20px;
        text-align: center;
    }

    .mainsignin_button button {
        padding: 2px 20px;
    }

    /* signin section ends */

    /* discover section start */

    .discover_sec {
        height: 550px;
    }

    .discover_content p {
        width: 100%;
    }

    .discover_content h1 {
        font-size: 45px;
    }

    /* discover section start */

    /* real estate section start */

    .real_estate_main {
        flex-direction: column;
    }

    .real_estate_mix_content {
        width: 100%;
        text-align: center;
    }

    .real_estate_content h2 {
        width: 100%;
        font-size: 35px;
    }

    .real_estate_box{
        margin-bottom: 0;
    }

    .real_estate_box .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .real_estate_content p {
        width: 100%;
    }

    .real_estate_box {
        flex-wrap: wrap;
    }

    .real_estate_img {
        display: none;
    }

    .real_estate_img img {
        width: 100%;
    }

    /* real estate section start */

    /* customer review section starts */
    .customer_review_sec {
        padding: 50px 0;
        height: auto;
    }

    .customer_review_main_sec {
        flex-direction: column;
        gap: 50px;
    }

    .customer_review_content {
        padding-top: 0;
        text-align: center;
    }

    .customer_review {
        padding-top: 0;
    }

    .customer_review_box {
        justify-content: center;
        margin-top: 30px;
    }

    .customer_review_mix {
        flex-direction: column;
        text-align: center;
    }

    .customer_review_mix .quote {
        margin-left: 0;
    }

    .customer_content p {
        width: 100%;
        text-align: center;
    }

    .customer_slider {
        text-align: center;
    }

    /* customer review section ends */

    /* company section starts */

    .company_main p {
        margin-bottom: 30px;
    }

    .company_logos {
        gap: 30px;
        justify-content: center;
    }

    /* company section starts */

    /* article section starts */
    .article_main {
        padding: 100px 0;
    }

    .article_box {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .article_box img {
        width: 100%;
    }

    .article_box_content .dot img {
        width: auto;
    }

    /* article section ends */

    /* download app section starts */

    .download_app_main {
        padding-block: 0 50px;
        height: auto;
    }

    .download_app_sec {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .download_app_content {
        text-align: center;
        padding-left: 0;
    }

    .download_app_content p {
        width: 100%;
        text-align: center;
        padding-inline: 15px;
    }

    .download_boxes {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .download_app_img img {
        width: 100%;
    }

    .appstore_box {
        width: auto;
    }

    .playstore_box {
        width: auto;
    }

    /* download app section ends */

    /* newsletter section start */

    .newsletter_main_sec {
        padding: 50px 0;
    }

    .newsletter_content {
        text-align: center;
    }

    .newsletter_content .mailbox {
        border: none;
        padding: 0;
    }

    .mailbox input {
        width: 100%;
        padding: 6px 27px;
        border: 1px solid rgba(235, 235, 235, 1);
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        margin-bottom: 15px;
    }

    .mailbox button {
        border: 1px solid rgba(235, 235, 235, 1);
        border-radius: 16px;
    }

    .newsletter_content p {
        text-align: center;
    }

    /* newsletter section ends */

    /* footer section starts */
    .footer_sec {
        padding: 50px 0;
        height: auto;
    }

    .footer_main_sec {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .footer_content {
        font-size: 20px;
    }

    .footer_icons i {
        font-size: 20px;
    }
}